# macOS system files
.DS_Store

# Python environment & caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
venv/
__pycache__/
ENV/

# Sensitive environment variables
.env

# Data caches / IDE files
.vscode/
.idea/

# Database
*.db
wiseflow.db